.container {

}

.description {
  max-width: 624px;
  text-align: center;
}

.headline {
  margin-bottom: 1rem;
  text-align: center;
}

.content {
  margin-top: 1.25rem;
  max-width: 600px;

  width: 100%;
}

.settings {
  align-items: center;
  display: flex;

  margin-top: 1rem;

  > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.link {
  margin-top: 1rem;
}
