.container {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 24px;
  width: 45px;

  border: 2px solid var(--theme-toggler);
  transition: var(--theme-change-transition-duration) border-color;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  input {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    clip: rect(0, 0, 0, 0);
  }

  div {
    transform: translateX(-60%);
    background-color: var(--theme-toggler);
    transition: var(--theme-change-transition-duration) background-color, 0.2s transform;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  input:checked ~ div {
    transform: translateX(60%);
  }
}
