*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: 'Montserrat', sans-serif;

  --theme-change-transition-duration: 0.2s;

  --heading-weight: 500;
  --number-weight: normal;
  --text-weight: 400;
  --caption-weight: 500;

  --dark-clay: #222831;
  --clay: #393e46;
  --dark-grey: #41464f;
  --grey: #50505a;
  --steel-grey: #bdbdcb;
  --light-steel-grey: #f2f2f9;
  --white: #fff;

  --wine: #513f5f;
  --dark-violet: #73237c;
  --violet: #93329e;
  --light-violet: #b45bbe;
  --snuff: #f0e3f2;

  --red: #ee4831;

  /* -------------------- */

  --main: var(--violet);
  --main-hover: var(--light-violet);
  --main-disabled: var(--dark-violet);
  --placeholder: var(--steel-grey);
  --error: var(--red);

  --focus-outline: var(--steel-grey);

  --text: var(--clay);
  --background: var(--white);

  --input-border: var(--light-steel-grey);
  --input-border-hover: var(--steel-grey);
  --input-border-focus: var(--light-violet);

  --checkbox-background: var(--light-steel-grey);
  --checkbox-hover-background: var(--snuff);
}

.dark-theme {
  --text: var(--light-steel-grey);
  --background: var(--clay);

  --input-border: var(--grey);
  --input-border-hover: var(--dark-clay);
  --input-border-focus: var(--light-violet);

  --checkbox-background: var(--grey);
  --checkbox-hover-background: var(--wine);
}

body {
  background-color: var(--background);
  font-family: var(--main-font);

  margin: 0;
  padding: 0;
  transition: background-color var(--theme-change-transition-duration);
}
