:root {
  --main-font: 'Montserrat', sans-serif;
  --heading-weight: 500;
  --text-weight: 400;
  --caption-weight: 300;

  --clay: #222831;
  --gray: #393E46;
  --violet: #93329E;
  --dark-violet: #73237C;
  --light-gray: #EEEEEE;
  --background: #999999;
  --white: #FFFFFF;
}

body {
  font-family: var(--main-font);
  background-color: var(--clay);

  margin: 0;
  padding: 0;
}
