:root {
  --main-font: 'Montserrat', sans-serif;
  --heading-weight: 500;
  --text-weight: 400;
  --caption-weight: 300;

  --clay: #222831;
  --gray: #393e46;
  --violet: #93329e;
  --dark-violet: #73237c;
  --light-gray: #eee;
  --background: #999;
  --white: #fff;
}

body {
  background-color: var(--clay);
  font-family: var(--main-font);

  margin: 0;
  padding: 0;
}
