.container {
  align-items: center;

  background-color: var(--main);

  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  justify-content: center;

  padding: 10px 2rem;

  position: relative;

  transition: 0.2s background-color, 0.2s border-color;
}

.container:hover {
  background-color: var(--main-hover);
}

.container:disabled {
  background-color: var(--main-disabled);
  cursor: initial;
}

.container:focus {
  border-color: var(--focus-outline);
  outline: none;
}

.text {
  transition: 0.2s opacity;
}

.circlesContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: 0.2s opacity;

  width: 35px;
}

.circle {
  background-color: var(--white);
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.hidden {
  opacity: 0;
}
