.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.password {
  display: flex;
  justify-content: space-between;

  > *:first-of-type {
    margin-right: 10px;
  }
}
