.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.headline {
  margin-bottom: 15px;
  text-align: center;
}

.description {
  max-width: 624px;
  text-align: center;
}

.content {
  margin-top: 20px;
  max-width: 600px;

  width: 100%;
}
