.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.description {
  max-width: 624px;
  text-align: center;
}

.content {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  margin-top: 20px;

  max-width: 600px;
  width: 100%;
}

.headline {
  margin-bottom: 15px;
  text-align: center;
}

.clientOnly {
  margin: 15px 0;
}

.shareContainer {
  max-width: 600px;
  width: 100%;
}

.share {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  width: 100%;

  > *:first-of-type {
    margin-right: 10px;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
