.container {

}

.description {
  max-width: 624px;
  text-align: center;
}

.content {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  margin-top: 1.25rem;

  max-width: 600px;
  width: 100%;
}

.headline {
  margin-bottom: 1rem;
  text-align: center;
}

.clientOnly {
  margin: 1rem 0;
}

.shareContainer {
  max-width: 600px;
  width: 100%;
}

.share {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
