atomicwrites==1.4.0
attrs==20.3.0
click==7.1.2
colorama==0.4.4
Flask==1.1.2
Flask-Cors==3.0.10
Flask-JWT-Extended==4.1.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
flask-unittest==0.1.1
greenlet==1.0.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycryptodome==3.10.1
PyJWT==2.1.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.0
six==1.15.0
SQLAlchemy==1.4.12
toml==0.10.2
Werkzeug==1.0.1
