.container {
  --icon-color: var(--main);
  background-color: var(--background);
  background-position: center;

  border: 2px solid var(--main);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;

  margin: 0;

  padding: 1rem 10px;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--icon-color);
    transition: fill 0.2s;
  }

  &:hover {
    --icon-color: var(--white);
    background-color: var(--main-hover);
    border-color: var(--main-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focus-outline);
    outline: none;
  }
}
