.container {
  color: var(--text);
  font-family: var(--main-font);
  transition: var(--theme-change-transition-duration) color;
}

:global .body {
  font-size: var(--body-font-size);
  font-weight: var(--text-weight);
  line-height: 125%;
}

:global .caption {
  font-size: var(--caption-font-size);
  font-weight: var(--caption-weight);
  line-height: 125%;
}
