.container {
  align-items: center;
  display: flex;
}

.checkbox {
  /* stylelint-disable-next-line */
  crop: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;

  &:focus {
    outline: none;
  }

  &:checked ~ .box {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.015 5.52L7.147 13.39 3.57 9.812' stroke='%23B45BBE' stroke-width='2.518' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
  }

  &:focus ~ .box {
    border-color: var(--focus-outline);
  }
}

.box {
  background-color: var(--checkbox-background);
  border: 1px solid transparent;
  border-radius: 5px;
  height: 21px;
  margin-right: 1rem;
  transition: background-color 0.2s, border-color 0.2s;
  width: 21px;
}

.box:hover {
  background-color: var(--checkbox-hover-background);
}
