.container {
  display: flex;

  flex: 1;
  flex-direction: column;
}

.input {
  background-color: var(--gray);

  border: 2px solid var(--input-border);
  border-radius: 10px;
  color: var(--text);

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 125%;

  padding: 15px;

  transition: 0.2s border-color, var(--theme-change-transition-duration) color;

  width: 100%;
}

.input::placeholder {
  color: var(--placeholder);
}

.input:hover {
  border-color: var(--input-border-hover);
}

.input:focus {
  border-color: var(--input-border-focus);
  outline: none;
}

.input.error {
  border-color: var(--error);
}

.inputContainer {
  align-items: center;

  display: flex;

  margin-top: 5px;
  width: 100%;

  > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.eyeContainer {
  position: relative;
  width: 100%;
}

.errorText {
  margin-left: 10px;
  margin-top: 5px;
}

.eye {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
