.container {
  color: var(--text);
  font-family: var(--main-font);
  font-weight: 500;
  margin: 0;
  transition: var(--theme-change-transition-duration) color;
  line-height: 125%;
}

:global .h1 {
  font-size: var(--h1-font-size);
}

:global .h2 {
  font-size: var(--h2-font-size);
}

:global .h3 {
  font-size: var(--h3-font-size);
}
