.container {
  color: var(--text);
  font-family: var(--main-font);
  font-weight: 500;
  margin: 0;
  transition: var(--theme-change-transition-duration) color;
}

:global .h1 {
  font-size: 42px;
  line-height: 51px;
}

:global .h2 {
  font-size: 16px;
  line-height: 20px;
}

:global .h3 {
  font-size: 14px;
  line-height: 17px;
}
